* {
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.paginate {
  display: flex;
  align-items: center;
  justify-content: end;
}
.paginate li {
  width: 30px;
  height: 30px;
  border: 1px solid wheat;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addPointerCursor {
  cursor: pointer;
}
.sliderImage {
  width: 400px;
  height: 400px;
}
.sliderButton {
  width: 200px;
  height: 50px;
}
.slideBackground {
  background-color: rgb(226, 226, 226);
  border: 1px solid rgb(226, 226, 226);
  border-radius: 3px;
  margin-bottom: 2rem;
}
.boldText {
  font-weight: bold;
}
.detailInput {
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  appearance: none;
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-align: center;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
